<script setup>
const props = defineProps({
  code: String,
  lng: Number,
  lat: Number,
  state: String,
  reset: Boolean,
});
import { onMounted } from "vue";
import maplibregl from "maplibre-gl";
import geojson from "../../public/departements.json";
import bbox from "@turf/bbox";
let hovered = null;
let map = null;

let prefMarker = new maplibregl.Marker({ color: "#00CC00" });
let clickMarker = new maplibregl.Marker();
const emit = defineEmits(["fail", "success", "distance"]);
const defaultZoom = 4.7;
const defaultCenter = [3, 46.5];

function reset() {
  prefMarker.remove();
  clickMarker.remove();
  map.querySourceFeatures("departements").forEach((feature) => {
    map.setFeatureState(
      {
        id: feature.id,
        source: "departements",
      },
      {
        wrong: false,
        hover: false,
        found: false,
      },
    );
  });
  map.flyTo({
    center: defaultCenter,
    zoom: defaultZoom,
  });
}

defineExpose({ reset });

onMounted(() => {
  map = new maplibregl.Map({
    container: "map", // container id
    style: "https://demotiles.maplibre.org/style.json", // style URL
    center: defaultCenter, // starting position [lng, lat]
    zoom: defaultZoom, // starting zoom
  });

  map.on("load", () => {
    map.addSource("departements", {
      type: "geojson",
      data: geojson,
      promoteId: "code",
    });
    map.addLayer({
      id: "departements",
      source: "departements",
      type: "line",
    });
    map.addLayer({
      id: "departements-fill",
      source: "departements",
      type: "fill",
      paint: {
        "fill-color": [
          "case",
          ["boolean", ["feature-state", "found"], false],
          "#55CC22",
          ["boolean", ["feature-state", "wrong"], false],
          "#CC5522",
          "#627BC1",
        ],
        "fill-opacity": [
          "case",
          ["boolean", ["feature-state", "hover"], false],
          1,
          0.5,
        ],
      },
    });
    map.on("mousemove", "departements-fill", (e) => {
      if (e.features.length > 0 && props.state === "departement") {
        if (hovered) {
          map.setFeatureState(
            { source: "departements", id: hovered },
            { hover: false },
          );
        }
        hovered = e.features[0].id;
        map.setFeatureState(
          { source: "departements", id: hovered },
          { hover: true },
        );
      }
    });

    map.on("mouseleave", "departements-fill", () => {
      if (hovered) {
        map.setFeatureState(
          { source: "departements", id: hovered },
          { hover: false },
        );
      }
      hovered = null;
    });

    map.on("click", "departements-fill", (e) => {
      if (props.state === "departement") {
        const feat = e.features[0];
        if (feat.id !== props.code) {
          map.setFeatureState(
            { source: "departements", id: feat.id },
            { wrong: true },
          );
          emit("fail");
        } else {
          emit("success");
          const depBbox = bbox(feat.geometry);
          map.fitBounds(depBbox, { padding: 20 });
          map.setFeatureState(
            { source: "departements", id: feat.id },
            { hover: false },
          );
          map.setFeatureState(
            { source: "departements", id: feat.id },
            { found: true },
          );
        }
      } else if (props.state === "souspref") {
        const prefCoord = { lng: props.lng, lat: props.lat };
        prefMarker.setLngLat(prefCoord).addTo(map);
        clickMarker.setLngLat(e.lngLat).addTo(map);
        emit("distance", e.lngLat.distanceTo(prefCoord));
      }
    });
  });
});
</script>

<template>
  <div id="map" class="map"></div>
</template>

<style scoped></style>
