<script setup>
import { reactive, computed } from "vue";
const props = defineProps({
  score: Number,
  round: Number,
  maxrounds: Number,
  maxscore: Number,
});
</script>

<template>
  <p>Score : {{ score }}/{{ maxscore }} (round {{ round }} / {{ maxrounds }})</p>
</template>

<style scoped></style>
