<script setup>
import { computed } from "vue";
const props = defineProps({
  name: String,
  prefecture: String,
  state: String,
  distance: Number,
  fails: Number,
  maxtries: Number,
});
const emit = defineEmits(["next"]);

const departement = computed(() => props.state === "departement");
const souspref = computed(() => props.state === "souspref");
const finished = computed(() => props.state === "finished");
const gameover = computed(() => props.state === "game over");
</script>

<template>
  <p v-if="departement">
    Département de {{ props.name }} ? ({{
      props.fails
    }}
    essais). <span v-if="props.fails === maxtries -1">Dernier essai.</span>
  </p>
  <p v-if="souspref">Clique le plus proche de {{ props.name }}</p>
  <p v-if="finished">
    Tu as fini à {{ Math.round(distance / 1000) }} km.
    <button @click="$emit('next')">continuer</button>
  </p>
  <p v-if="gameover">
    Tu as fini à {{ Math.round(distance / 1000) }} km.
    C’est fini ! Assez joué.</p>
</template>

<style scoped></style>
